/.vs
/ChainOfResponsibility/bin/Debug
/ChainOfResponsibility/obj/Debug
/Decorator/bin/Debug
/Decorator/obj/Debug
/Observer/bin/Debug
/Observer/obj/Debug
/Singleton/bin/Debug
/Singleton/obj/Debug
/Factory/bin/Debug
/Factory/obj/Debug
/Strategy/bin/Debug
/Strategy/obj/Debug
